<div class="flex flex-wrap max-w-screen-xl mx-auto my-4 md:px-4">
  <div class="w-full mb-4 md:w-1/4 md:p-4">
    <%= render partial: "account_navbar" %>
  </div>

  <div class="w-full md:w-3/4 md:p-4">
    <div class="md:p-10 p-4 bg-white rounded-lg border border-slate-200">
      <%= render "form", billing_address: @billing_address %>
    </div>
  </div>
</div>
