<div class="bg-orange-700 bg-center bg-contain rounded-xl md:rounded-none" style="background-image: url(<%= image_url('bg_hero_contact.png') %>);">
  <div class="flex flex-col max-w-screen-xl mx-auto px-5 py-10 text-center md:mb-10 md:py-20">
    <h1 class="font-black font-header leading-none my-5 text-4xl text-white uppercase md:text-6xl">
      Success!
    </h1>
  </div>
</div>

<div class="flex flex-col flex-grow w-full">
  <div class="flex flex-grow items-center justify-center max-w-2xl mx-auto">
    <div class="bg-slate-100 p-10 rounded-xl w-80">
      <h2 class="font-bold text-2xl text-slate-900">Message sent</h2>
      <p class="py-5 text-slate-900">Your message was successfully sent and you will receive a response back as soon as possible. Thanks!</p>
      <a href="/" class="bg-orange-600 font-black mt-5 px-10 py-5 rounded-lg text-white text-2xl w-full hover:text-white">
        Go back
      </a>
    </div>
  </div>
</div>