@import "tailwindcss/base";
@import "tailwindcss/components";

/*
 * Jumpstart Pro default styles
 * Remove these if you'd like to use TailwindUI which expects a clean slate
*/
@import "components/base";
@import "components/actiontext";
@import "components/alert";
@import "components/animation";
@import "components/announcements";
@import "components/avatars";
@import "components/buttons";
@import "components/code";
@import "components/connected_accounts";
@import "components/direct_uploads";
@import "components/docs";
@import "components/forms";
@import "components/iframe";
/* @import "components/modal"; */
@import "components/nav";
@import "components/notifications";
@import "components/pagination";
@import "components/strada";
@import "components/tabs";
@import "components/trix";
@import "components/typography";
@import "components/util";
/* @import "components/braintree"; */

@import "tailwindcss/utilities";

@import "flatpickr/dist/flatpickr.css";
@import "tippy.js/dist/tippy.css";
@import "tom-select/dist/css/tom-select.css";

/* Mobile devices (default) */
.embed iframe {
    width: 100%; /* Make iframe responsive by setting width to 100% */
    height: auto; /* Adjust height automatically based on aspect ratio */
    min-height: 240px; /* Optional: Minimum height */
    max-width: 800px; /* Optional: Limit the maximum width */
    max-height: 460px; /* Optional: Limit the maximum height */
}

/* Tablets (min-width: 768px) */
@media (min-width: 768px) {
    .embed iframe {
        width: 600px; /* Adjust width for tablets */
        height: 340px; /* Adjust height for tablets */
    }
}

/* Small desktops/Laptops (min-width: 1024px) */
@media (min-width: 1024px) {
    .embed iframe {
        width: 800px; /* Adjust width for small desktops */
        height: 460px; /* Adjust height for small desktops */
    }
}

/* Large desktops (min-width: 1200px) */
@media (min-width: 1200px) {
    .embed iframe {
        width: 800px; /* You might want to keep the original size or adjust further */
        height: 460px; /* Adjust height accordingly */
    }
}

.fade-out {
    animation: fade-out 0.5s ease-out forwards;
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


  trix-editor#article_body {
    min-height: 500px;
  }

  /* Carousel */

  .carousel-slide {
    display: none; /* Hide all slides by default */
  }

  /* Simple Calendar */

  .simple-calendar {
    table {
      -webkit-border-horizontal-spacing: 0px;
      -webkit-border-vertical-spacing: 0px;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid rgb(221, 221, 221);
      border-collapse: collapse;
      box-sizing: border-box;
      max-width: 100%;
      width: 100%;
    }
  
    tr {
      border-collapse: collapse;
    }
  
    th {
      padding: 6px;
      border-bottom: 2px solid rgb(221, 221, 221);
      border-collapse: collapse;
      border-left: 1px solid rgb(221, 221, 221);
      border-right: 1px solid rgb(221, 221, 221);
      border-top: 0px none rgb(51, 51, 51);
      box-sizing: border-box;
      text-align: left;
    }
  
    td {
      padding: 6px;
      vertical-align: top;
      width: 14%;
  
      border: 1px solid #ddd;
      border-top-color: rgb(221, 221, 221);
      border-top-style: solid;
      border-top-width: 1px;
      border-right-color: rgb(221, 221, 221);
      border-right-style: solid;
      border-right-width: 1px;
      border-bottom-color: rgb(221, 221, 221);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-left-color: rgb(221, 221, 221);
      border-left-style: solid;
      border-left-width: 1px;
    }
  
    .calendar-heading nav {
      display: inline-block;
    }
  
    .day {
      height: 80px;
    }
  
    .wday-0 {}
    .wday-1 {}
    .wday-2 {}
    .wday-3 {}
    .wday-4 {}
    .wday-5 {}
    .wday-6 {}
  
    .today {
      background: #FFFFC0
    }
  
    .past {}
    .future {}
  
    .start-date {}
  
    .prev-month {
      background: #DDD;
    }
    .next-month {
      background: #DDD;
    }
    .current-month {}
  
    .has-events {}
  }
