@import "tailwindcss/base";
@import "tailwindcss/components";

/*
 * Jumpstart Pro default styles
 * Remove these if you'd like to use TailwindUI which expects a clean slate
*/
@import "components/base";
@import "components/actiontext";
@import "components/alert";
@import "components/animation";
@import "components/announcements";
@import "components/avatars";
@import "components/buttons";
@import "components/code";
@import "components/connected_accounts";
@import "components/direct_uploads";
@import "components/docs";
@import "components/forms";
@import "components/iframe";
/* @import "components/modal"; */
@import "components/nav";
@import "components/notifications";
@import "components/pagination";
@import "components/strada";
@import "components/tabs";
@import "components/trix";
@import "components/typography";
@import "components/util";
/* @import "components/braintree"; */

@import "tailwindcss/utilities";

@import "flatpickr/dist/flatpickr.css";
@import "tippy.js/dist/tippy.css";
@import "tom-select/dist/css/tom-select.css";

/* Mobile devices (default) */
.embed iframe {
    width: 100%; /* Make iframe responsive by setting width to 100% */
    height: auto; /* Adjust height automatically based on aspect ratio */
    min-height: 240px; /* Optional: Minimum height */
    max-width: 800px; /* Optional: Limit the maximum width */
    max-height: 460px; /* Optional: Limit the maximum height */
}

/* Tablets (min-width: 768px) */
@media (min-width: 768px) {
    .embed iframe {
        width: 600px; /* Adjust width for tablets */
        height: 340px; /* Adjust height for tablets */
    }
}

/* Small desktops/Laptops (min-width: 1024px) */
@media (min-width: 1024px) {
    .embed iframe {
        width: 800px; /* Adjust width for small desktops */
        height: 460px; /* Adjust height for small desktops */
    }
}

/* Large desktops (min-width: 1200px) */
@media (min-width: 1200px) {
    .embed iframe {
        width: 800px; /* You might want to keep the original size or adjust further */
        height: 460px; /* Adjust height accordingly */
    }
}

.fade-out {
    animation: fade-out 0.5s ease-out forwards;
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


  trix-editor#article_body {
    min-height: 500px;
  }

  /* Carousel */

  .carousel-slide {
    display: none; /* Hide all slides by default */
  }

  /* Eveleth */
  
  @font-face {
    font-family: 'Eveleth';
    src: url('/assets/fonts/Eveleth-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  