<%# Place any links for the LEFT side of the nav bar here. Be sure to add class: "nav-link" to each item for proper spacing. %>

<%= render_svg "logo", styles: "block h-auto w-36 lg:hidden lg:w-[32rem]" %>

<div class="absolute block cursor-pointer right-6 top-6 lg:hidden" data-action="click->toggle#toggle touch->toggle#toggle">
    <%= feather_icon "x", class: "h-6 w-6 fill-current text-slate-500" %>
</div>