<% content_for :title, 'We build and buy small creative internet businesses' %>

<!--  Desktop -->
<div class="bg-center bg-cover h-96 hidden px-20 py-28 md:block md:py-96" style="background-image: url('<%= image_url('bg_hero_desktop.jpg') %>')">
</div>

<!--  Mobile -->
<div class="bg-center bg-cover block h-80 md:hidden" style="background-image: url('<%= image_url('bg_hero_mobile.jpg') %>')">
</div>

<div class="bg-gray-50">
  <div class="pt-12 md:pt-20 text-center">
    <h2 class="font-black font-header text-gray-800 text-3xl uppercase md:text-5xl">
      <strong>About HWM</strong>
    </h2>
  </div>
  <div class="max-w-screen-xl mx-auto pb-5 pt-6 md:pt-10 md:pb-20 md:px-5">
    <p class="text-xl md:px-10 md:text-3xl">
      Hard Work Montage is a holding company based in Charlotte, NC that builds and buys e-commerce, SaaS, content, community, and other internet businesses.
      It is owned and operated by Adam and Stacey Howell.
    </p>
    <div class="flex justify-center pt-10">
      <%= link_to "Learn more", "/about",
        class: "bg-gray-900 block font-black px-5 md:px-10 py-5 rounded-lg text-center text-lg text-white w-full md:inline md:w-fit md:text-xl hover:text-white focus:text-white active:text-white" %>
    </div>
  </div>
</div>